services:
  kernel-vtt:
    image: ramongebben/kernels-vtt:latest
    container_name: kernel-vtt
    restart: unless-stopped
    ports:
      - "3000:3000" # Next app
      - "8099:8099" # WebSocket server
    environment:
      PORT: 3000
      WS_PORT: 8099
    volumes:
      - ./maps:/app/maps
      - ./artwork:/app/artworks
