.page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--foreground);
  padding: 120px 60px;
  gap: 48px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12px;
}

.header h1 {
  font-size: 42px;
  font-weight: 700;
  letter-spacing: -1.2px;
  color: var(--text-primary);
}

.header p {
  font-size: 18px;
  color: var(--text-secondary);
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-wrap: wrap;
}

.primary,
.secondary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  padding: 0 20px;
  border-radius: 999px;
  border: 1px solid transparent;
  transition: 0.2s ease;
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
}

.primary {
  background: var(--text-primary);
  color: var(--background);
}

.secondary {
  border-color: var(--button-secondary-border);
  color: var(--text-primary);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  .secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }

  .header h1 {
    font-size: 32px;
    letter-spacing: -0.8px;
  }
}

@media (prefers-color-scheme: dark) {
  .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
}
